<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Role3_Auto_Run0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0001</key>
			<dict>
				<key>frame</key>
				<string>{{91,0},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0002</key>
			<dict>
				<key>frame</key>
				<string>{{182,0},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0003</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0004</key>
			<dict>
				<key>frame</key>
				<string>{{364,0},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0006</key>
			<dict>
				<key>frame</key>
				<string>{{91,108},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0007</key>
			<dict>
				<key>frame</key>
				<string>{{182,108},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0008</key>
			<dict>
				<key>frame</key>
				<string>{{273,108},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0009</key>
			<dict>
				<key>frame</key>
				<string>{{364,108},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0011</key>
			<dict>
				<key>frame</key>
				<string>{{91,216},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0012</key>
			<dict>
				<key>frame</key>
				<string>{{182,216},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
			<key>Role3_Auto_Run0013</key>
			<dict>
				<key>frame</key>
				<string>{{273,216},{91,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Role3_Auto_Run.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>Role3_Auto_Run.png</string>
		</dict>
	</dict>
</plist>
